@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$primary: #734370;
$secondary: #be72d8;
$light: #E4DFE0;
$brown: #59221D;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  light: $light,
);

@import "bootstrap";

.title-subrayada {
  font-family: 'Lobster', cursive;
  font-size: 3.5rem;
  line-height: 50px;
}

.pink-gradient {
  background: rgb(222, 174, 187);
  background: linear-gradient(186deg, rgba(222, 174, 187, 1) 35%, rgba(240, 236, 241, 1) 100%);
}

.menu-item-selected {
  position: relative;
  line-height: 2;
}

.menu-item-selected:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: solid 3px $brown;
  border-top-left-radius: 10%;
  animation: borderLeftRight 0.1s linear forwards;
}

.menu-mobile-close {
  height: 0 !important;
}

.menu-mobile-close>* {
  display: none;
}


@keyframes borderLeftRight {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

/* Landing Page - Styles */


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .bg-maria-caprixosa-house {
    background: url('/images/landing-page/maria-caprixosa-house.png') no-repeat scroll 85px;
    float: right;
    background-size: 37%;
    background-position: right 150px center;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}